<head>
	<script>
		var result

		function calculatePlus() {
		result = parseInt(document.getElementById("var1").value) + parseInt(document.getElementById("var2").value) ;
		document.getElementById("result").innerHTML =  result;
		}
		function calculateMinus() {
		result = document.getElementById("var1").value - document.getElementById("var2").value ;
		document.getElementById("result").innerHTML =  result;
		}
		function calculateMultiply() {
		result = document.getElementById("var1").value * document.getElementById("var2").value ;
		document.getElementById("result").innerHTML =  result;
		}
		function calculateDivide() {
		result = document.getElementById("var1").value / document.getElementById("var2").value ;
		document.getElementById("result").innerHTML =  result;
		}
	</script>
</head>
<body>
    <label for="var1">First number</label>
	<input id="var1" type="text">
	<label for="var2">Second number</label>
	<input id="var2" type="text"><br>
	<button onClick="calculatePlus();"> + </button>
	<button onClick="calculateMinus();"> - </button>
	<button onClick="calculateMultiply();"> * </button>
	<button onClick="calculateDivide();"> / </button>
	
	<p id="result">Result</p>
</body>