<head>
	<script>
		
		var result;


		function calculatePlus() {
		
		var x = document.getElementById("var1").value;
		var y = document.getElementById("var2").value;
		result = parseInt(x) + parseInt(y);
		document.getElementById("result").innerHTML =  result;
		}
		function calculateMinus() {
		result = x - y ;
		document.getElementById("result").innerHTML =  result;
		}
		function calculateMultiply() {
		result = document.getElementById("var1").value * document.getElementById("var2").value ;
		document.getElementById("result").innerHTML =  result;
		}
		function calculateDivide() {
		result = document.getElementById("var1").value / document.getElementById("var2").value ;
		document.getElementById("result").innerHTML =  result;
		}
	</script>
</head>
<body>
    <label for="var1">First number</label>
	<input id="var1" type="text">
	<label for="var2">Second number</label>
	<input id="var2" type="text"><br>
	<button onClick="calculatePlus();">Plus</button>
	<button onClick="calculateMinus();">Minus</button>
	<button onClick="calculateMultiply();">Multiply</button>
	<button onClick="calculateDivide();">Division</button>
	<p id="result">result will apear here</p>
</body>