<head>
	<title>Hover Animal</title>
	<script>
		function changeImage() {
		document.getElementById("image").src ="dog.jpg";
		}
		function changeImageBack() {
		document.getElementById("image").src ="cat.jpg";
		}
	</script>
</head>
<body>
	<img src="cat.jpg" id="image" onmouseover="changeImage();" onmouseout="changeImageBack();" onclick="alert('bark!!!');">
</body>